@import "tailwindcss";
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-paper: #fdfef4;
  --ui-bg-paper: var(--color-paper);
}

:root {
  --ui-bg: var(--color-paper);
}
